@font-face {
  font-family: "font_family"; /* Project id 2628025 */
  src: url('iconfont.woff2?t=1636962836497') format('woff2'),
       url('iconfont.woff?t=1636962836497') format('woff'),
       url('iconfont.ttf?t=1636962836497') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingzhenqi:before {
  content: "\e62c";
}

.icon-zhongyishi:before {
  content: "\e62b";
}

.icon-chuzhen:before {
  content: "\e62a";
}

.icon-a-zhuanjiachuzhenxinxi1:before {
  content: "\e629";
}

.icon-a-weizhi1:before {
  content: "\e628";
}

.icon-a-lianxiwomen1:before {
  content: "\e627";
}

.icon-yishiziliao:before {
  content: "\e626";
}

