// 颜色
$color-1:#ffffff;
$color-2:#909090;
$color-3:#56a5aa;
$color-4:#902d3b;
$color-5:#c7a368;
$color-6:#dedede;
$color-7:#9a545e;
$color-8:#333333;
$color-9:#2f8594;
$color-10:#95abaf;


// 字体     
$font-size-1:14px;
$font-size-2:15px;
$font-size-3:16px;
$font-size-4:18px;
$font-size-5:24px;
$font-size-6:32px;
$font-size-7:36px;

// 宽度

