@mixin maxWidth {
    margin: 0 auto;
    max-width: 1800px;
    min-width: 960px;
    width: 90%;
    // padding: 0 30px;
    @media screen and (max-width: 750px) {
        max-width: 750px;
    }
}
@mixin width800 {
    width: 800px;
    margin: auto;
}

@mixin afterLine($bg) {
    content: "";
    display: block;
    width: 1px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: -1px;
    margin-top: -3.5px;
    background: $bg;
}

@mixin decorateBg($flex,$w,$h) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $flex;
    > div {
        width: $w;
        height: $h;
        background-color: $color-9;
    }
}
