@mixin maxWidth {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 960px;
    width: 80%;
    padding: 0 30px;
    @media screen and (max-width: 750px) {
        max-width: 750px;
    }
}
@mixin width800 {
    width: 800px;
    margin:auto
}

@mixin afterLine($bg) {
    content: "";
    display: block;
    width: 1px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: -1px;
    margin-top: -3.5px;
    background: $bg;
}

